body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #101820;
    background-image:
        radial-gradient(circle at 1px 1px, rgba(255, 255, 255, 0.3) 2px, transparent 2.5px),
        linear-gradient(rgba(128, 128, 128, 0.2) 1px, transparent 1px),
        linear-gradient(90deg, rgba(128, 128, 128, 0.2) 1px, transparent 1px),
        linear-gradient(to bottom, #000000 0%, #111c2e 100%);
    background-size: 100px 100px, 100px 100px, 100px 100px, cover;
    background-attachment: fixed;
    image-rendering: pixelated;
}

a {
            text-decoration: none;
            color: black;
            display: block;
        }

.btn-cri {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.btn-cri:active img {
    transform: scale(0.95);
}

.details-container {
    background-color: #101820;
    background-image:
        linear-gradient(rgba(0, 70, 70, 0.4) 2px, transparent 2px),
        linear-gradient(90deg, rgba(0, 70, 70, 0.4) 2px, transparent 2px);
    background-size: 40px 40px;
    max-width: 1000px;
    width: 90%;
    margin: 40px auto;
    padding: 40px;

    border: 6px solid #333;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    font-family: 'Courier New', Courier, monospace;
}


.pokemon-imgStats {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    background-color: #dcdcdc;
    border-top: 6px solid #444;
    border-bottom: 6px solid #444;

    padding: 40px;
    margin-bottom: 20px;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.15);
}


.pokemon-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.pokemon-image img {
    width: 300px;
    height: 300px;
    image-rendering: pixelated;
    filter: drop-shadow(8px 8px 0px rgba(0, 0, 0, 0.2));
}

.pokemon-info {
    flex: 1;
    background-color: white;
    padding: 30px;
    border: 3px solid #a0a0a0;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.1);


    font-size: 1.2rem;
    line-height: 1.6;
}

.info-title {
    font-size: 2.5rem;
    margin: 0 0 20px 0;
    border-bottom: 3px solid #ddd;
    padding-bottom: 10px;
    color: #222;
}


.pokemon-bio {
    background-color: #222;
    color: #eee;
    padding: 30px;
    border: 4px solid #444;
    border-radius: 6px;
    border-top: 6px solid #aaff00;

    font-size: 1.4rem;
    line-height: 1.5;
    min-height: 150px;
}

.bio-title {
    color: #aaff00;
    font-size: 1rem;
    margin-bottom: 15px;
    letter-spacing: 2px;
}