        a {
            text-decoration: none;
            color: black;
            display: block;
        }

        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: black;
            background-image:
                radial-gradient(circle at 1px 1px, rgba(255, 255, 255, 0.3) 2px, transparent 2.5px),
                linear-gradient(rgba(128, 128, 128, 0.2) 1px, transparent 1px),
                linear-gradient(90deg, rgba(128, 128, 128, 0.2) 1px, transparent 1px),
                linear-gradient(to bottom, #000000 0%, #111c2e 100%);
            background-size: 100px 100px, 100px 100px, 100px 100px, cover;
            background-attachment: fixed;
            text-align: center;
        }

        #pokedex-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            padding: 20px;
            max-width: 1200px;
            margin: 0 auto;
        }

        .carte {
            background-color: #002038;
            color: #e2e3e4;
            border-radius: 15px;
            padding: 20px;
            width: 150px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s;
            text-transform: capitalize;
        }

        .carte:hover {
            transform: translateY(-5px);
            background-color: #086890;
        }

        .carte img {
            width: 80px;
            height: 70px;
        }