@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');

a {
    text-decoration: none;
    color: black;
    display: block;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.scene-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    text-align: center;
    background-color: #101820;
    background-image:
        radial-gradient(circle at 1px 1px, rgba(255, 255, 255, 0.3) 2px, transparent 2.5px),
        linear-gradient(rgba(128, 128, 128, 0.2) 1px, transparent 1px),
        linear-gradient(90deg, rgba(128, 128, 128, 0.2) 1px, transparent 1px),
        linear-gradient(to bottom, #000000 0%, #111c2e 100%);
    background-size: 100px 100px, 100px 100px, 100px 100px, cover;
    background-attachment: fixed;
    image-rendering: pixelated;
}

#pokedex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 60px;
}

#list-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
    width: 100%;
}

#search-input::placeholder {
    color: #777;
    font-size: 12px;
}

.footer-right {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-right: 10px;
}

#page-display {
    font-size: 14px;
    color: #aaa;
    font-weight: bold;
    background: #000;
    padding: 2px 6px;
    border-radius: 2px;
    border: 1px solid #333;
}

.nav-arrow {
    color: #999;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 22px;
    font-weight: 900;
    letter-spacing: -3px;
    font-family: monospace;
    padding: 0;
    text-shadow: 1px 1px 0 #000;
}

.nav-arrow:hover {
    color: white;
}

.nav-cross {
    color: #ff3333;
    font-size: 24px;
    font-weight: 900;
    cursor: pointer;
    font-family: sans-serif;
    text-shadow: 2px 2px 0px #000;
    line-height: 1;
}

.nav-cross:hover {
    color: #ff6666;
}

.nav-return {
    color: #3399ff;
    font-size: 26px;
    font-weight: 900;
    cursor: pointer;
    font-family: sans-serif;
    display: inline-block;
    transform: rotate(90deg);
    text-shadow: 2px 2px 0px #000;
    line-height: 1;
    position: relative;
    top: 1px;
}

.nav-return::after {
    content: '';
    position: absolute;
    top: -5px;
    right: 0px;
    transform: rotate(180deg);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #3399ff;
}

.nav-return:hover {
    color: #66b2ff;
}

@media (max-width: 1000px) {
    #list-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    #list-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}